<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
     <!-- Popper JS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 
     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     
     <link rel="stylesheet" href="/stylesheets/game_list.css">

     <script>
        async function remove(gameID){
            const deleteGame = {
                game:gameID
            }
            await fetch("/gamelist",{
                method: "POST",
                body: JSON.stringify(deleteGame),
                headers:{
                    'Content-type': 'application/json; charset=UTF-8'
                }
            }).then((res)=>{
                alert("The selected game has be removed Succefully")
            })
        }

        async function logout(){
            await fetch('/home',{
            method: 'POST'
            })
        }
     </script>

    <title>Game List</title>

</head>

<body>
    <header class="nav-bar">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-sm bg-dark justify-content-between">
                <a class="navbar-brand"  href="/">
                    <img src="/site_data/images/Gamekart-logos_white.png" alt="Logo" style="width: 200px; height: 50px;">
                </a>
            </nav>
         </div>
    </header>
    <section class="main">
        <div class="container border text-center text-white bg-dark " style="padding: 30px;">
            <h1>Game List</h1>
            <div class="container border" style="height: 800px; padding: 20px;overflow-y: auto;">
                <ul class="list-group">
                    <% game_list.forEach(game=>{ %>
                        <li class="list-group-item list-group-item list-group-item-action">
                            <p style="color: black; font-size:larger; padding-top: 7px;"><%= game.name%></p> 
                            <span>
                                <a href="/adminConsole" class="btn btn-primary" role="button" onclick= "remove('<%= game._id %>')" >Remove</a>
                            </span>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <br>
        </div>    
    </section>    
</body>
</html>