<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
     <!-- Popper JS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 
     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     
     <link rel="stylesheet" href="/stylesheets/game_list.css">

    <title>Game List</title>

</head>

<body>
    <header class="nav-bar">
        <div class="container-fluid" style="padding: 0;">
           <nav class="navbar navbar-expand-sm bg-dark justify-content-between">
               <a class="navbar-brand"  href="/">
                   <img src="/site_data/images/Gamekart-logos_white.png" alt="Logo" style="width: 200px; height: 50px;">
               </a>
           </nav>
        </div>
    </header>
    <section class="main">
        <div class="container border text-center text-white bg-dark " style="padding: 30px;">
            <h1>Game List</h1>
            <div class="container border" style="height: 800px; padding-top: 20px;">
                <ul class="list-group">
                    <li class="list-group-item list-group-item">
                        <p style="color: black; font-size:larger; padding-top: 7px;">Far Cry-5</p> 
                        <span>
                            <a href="#" class="btn btn-primary" role="button">Edit Details</a>
                            <a href="#" class="btn btn-primary" role="button">Remove</a>
                        </span>
                    </li>
                    <li class="list-group-item list-group-item">
                        <p style="color: black; font-size:larger; padding-top: 7px;">Assasins Creed</p> 
                        <span>
                            <a href="#" class="btn btn-primary" role="button">Edit Details</a>
                            <a href="#" class="btn btn-primary" role="button">Remove</a>
                        </span>
                    </li>
                    <li class="list-group-item list-group-item">
                        <p style="color: black; font-size:larger; padding-top: 7px;">Counter Strike</p> 
                        <span>
                            <a href="#" class="btn btn-primary" role="button">Edit Details</a>
                            <a href="#" class="btn btn-primary" role="button">Remove</a>
                        </span>
                    </li>
                </ul>
            </div>
            <br>
            <a href="#" class="btn btn-primary" role="button">Add a Game</a>
        </div>    
    </section>    
</body>
</html>