<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../registration_page/styles.css">
    <title>Registration</title>
</head>
<body>
    <div class="parent clearfix" style="background-color: black;">
        <div class="bg-illustration">
        </div>

        <div class="login">
            <div class="container">
                <h2 style="text-align: center;padding-top: 30px;">GameKart</h2><br>
                <h1>Enter details</h1>

                <div class="login-form">
                    <form action="">
                        <input type="text" id="name" placeholder="Name" required>
                        <input type="email" id="email" placeholder="E-mail Address" required>
                        <input type="number" id="age" placeholder="Age" required>
                        <input type="password" id="password" placeholder="Password" required>
                        <input type="password" id="confirmPassword" placeholder="Confirm Password" required>

                        <button type="submit">Register</button>

                    </form>
                </div>

            </div>
        </div>
    </div>
</body>
</html>