<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="../homepage/style.css">
    <title>Home</title>
</head>
<body>
     <header class="nav-bar">
         <div class="container-fluid">
            <nav class="navbar navbar-expand-sm bg-dark justify-content-between">
                <a class="navbar-brand"  href="/">
                    <img src="../homepage/assets/Gamekart-logos_white.png" alt="Logo" style="width: 200px; height: 50px;">
                </a>
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <div class="btn-group btn-group-lg">
                        <a href="/signup"><button type="button" class="btn btn-primary">Signup</button></a>
                        <a href="/login"><button type="button" class="btn btn-primary">Login</button></a>
                        <!-- <button type="button" class="btn btn-primary">Logout</button> -->
                    </div>
                  </li>
                </ul>
            </nav>
         </div>
     </header>
     <div class="container-fluid bg-dark">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
          
            <!-- The slideshow -->
            <div class="carousel-inner justify-content-center ">
              <div class="carousel-item active">
                <a href="#"><img src="../homepage/assets/farcry.jpg" class="mx-auto d-block" alt="Far Cry 6"></a>
              </div>
              <div class="carousel-item">
                <a href="#"><img src="../homepage/assets/skyrim.jpg" class="mx-auto d-block" alt="Skyrim"></a>
              </div>
              <div class="carousel-item">
                <a href="#"><img src="../homepage/assets/assasins_creed.jpg" class="mx-auto d-block" alt="Assasins Creed"></a>
              </div>
            </div>
          
     </div>
     <div class="game-menu">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-3 text-white">
            <div class="container-sm bg-dark">
              <a href="#"><img class="catalogue" src="../homepage/assets/gta5.jpg"></a>
              <h3>Grand Theft Auto-V</h3>
              <p>description</p>
            </div>
          </div>
          
          <div class="col-md-3 text-white">
            <div class="container-sm bg-dark">
              <a href="#"><img class="catalogue" src="../homepage/assets/csgo.jpeg"></a>
              <h3>Counter Strike</h3>
              <p>description</p>
            </div>
          </div>
          
          <div class="col-md-3 text-white">
            <div class="container-sm bg-dark">
              <a href="#"><img class="catalogue" src="../homepage/assets/minecraft.jpg"></a>
              <h3>Minecraft</h3>
              <p>description</p>
            </div>
          </div>
          
          <div class="col-md-3 text-white">
            <div class="container-sm bg-dark">
              <a href="#"><img class="catalogue" src="../homepage/assets/redded2.jpeg"></a>
              <h3>Read Dead Redemption-2</h3>
              <p>description</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
</body>
</html>