<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../login_page/styles.css">
    <title>Login</title>
</head>

<body>
    <div class="parent clearfix" style="background-color: black;">
        <div class="bg-illustration">
        </div>

        <div class="login">
            <div class="container">
                <h2 style="text-align: center; padding-top: 30px;">GameKart</h2><br>
                <h1>Login</h1>

                <div class="login-form">
                    <form action="">
                        <input type="email" id="email" placeholder="E-mail Address">
                        <input type="password" id="pswrd" placeholder="Password">

                        <div class="remember-form">
                            <input type="checkbox">
                            <span>Remember me</span>
                        </div>
                        <div class="forget-pass">
                            <a href="#">Forgot Password ?</a>
                        </div>

                        <button type="submit">LOGIN</button>

                    </form>
                </div>

            </div>
        </div>
    </div>
</body>

</html>